.navbar-index {
  max-width: 100%;
  height: 80;
  background: black;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-index a {
  color: white;
  font-size: 30px;
  font-family: "bebas neue pro";
}

.btn {
  border-radius: 0px 20px 20px 20px;
  height: 20px;
  padding: 15px;
}

.navbar-index ul {
  text-align: center;
}

.navbar-index a:hover {
  background-color: rgb(60, 255, 0);
  color: #000000;
}

.page-header {
  display: flex;
  text-align: start;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

.hero {
  max-width: 100%;
  margin-bottom: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  background-image: url(../images/);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.band {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  font-family: "bebas neue pro light";
}

.card h1 {
  font-size: 20px;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.card p {
  line-height: 1;
  font-size: 12px;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2em 0 0 0;
}

.card .btn-card {
  color: black;
  width: 80px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  background-color: rgb(60, 255, 0);
  color: #ffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 0px 10px;
}

.card .btn-card:hover {
  background-color: rgb(0, 0, 0);
  bottom: -3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }

  .story-1 {
    grid-column: 1 / span 2;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-index {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
